{% extends 'entrysystem/entrywrapper.html' %}
{% load staticfiles %}
{% block entryblock %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title></title>
  </head>
  <body>
    <table cellpadding="0" cellspacing="0" style="float: left; margin-right: 1em; text-align: left;">
      <tbody>
        <tr>
          <td style="text-align: center;">
            <a href="http://www.elektrodefter.com/static/images/2014/07/48912-arduinouno_r3_front.jpg" style="clear: left; margin-bottom: 1em; margin-left: auto; margin-right: auto;"><img alt="" border="0" src="http://www.elektrodefter.com/static/images/2014/07/48912-arduinouno_r3_front.jpg" height="221" title="" width="320"></a>
          </td>
        </tr>
        <tr>
          <td style="text-align: center;">
            <i>İşte Arduino Uno bu yakışıklı.</i>
          </td>
        </tr>
      </tbody>
    </table>&nbsp;&nbsp;&nbsp; Arduino içerisinde bir Microcontroller bulunduran, bağlantıları kolaylaştıran analog ve digital pinler bulunduran bir geliştirme kartıdır. Elektronikçilerin işlerini kolaylaştırmak ve hızlandırmak amacının yanı sıra, elektronikçi olmayan insanların da hobi olarak ağır teorik bilgilere boğulmadan projeler geliştirebileceği açık kaynaklı bir tasarımdır.<br>
    <br>
    &nbsp;&nbsp;<br>
    <br>
    &nbsp;&nbsp;&nbsp; Resmi geliştirme ortamı java ile yazılmış olsa da kendisi için modifiye edilmiş C/C++ dilini kullanır. Dilin modifiye bir C türevi olması bizi karmaşık kodlamalardan kurtarırken yeni bir dil öğrenmeden C bilgimizi kullanarak programlamamızı sağlar.<br>
    <br>
    &nbsp;&nbsp;&nbsp; Geçen sene klüplerden birisi Arduino öğrenme etkinliği düzenlemişti. Önceden beri duyup öğrenmek istediğim için hiç durmadım, hemen bir Arduino Uno elde ettim. Arduino uno, Arduino'ların orta/öğrenci seviyesidir diyebiliriz. Ortalama bir fiyata ortalama bir işlev sağlar ve bir çok projeniz için yeterlidir. İşte ben elimdeki bu Arduino ile oynayacağım, merakınız varsa almanızı tavsiye ederim, gerçekten hoş şeyler yapılabiliyor.<br>
    <div style="clear: both; text-align: center;"></div><br>
    <div style="clear: both; text-align: center;">
      <a href="https://images-blogger-opensocial.googleusercontent.com/gadgets/proxy?url=http%3A%2F%2Fwww.robotshop.com%2Fblog%2Fen%2Ffiles%2Fdfrobotshop-rover-web-3-560x447.jpg&amp;container=blogger&amp;gadget=a&amp;rewriteMime=image%2F*" style="clear: left; float: left; margin-bottom: 1em; margin-right: 1em;"><img border="0" src="http://www.elektrodefter.com/static/images/2014/07/dfrobotshop-rover-web-3-560x447-300x239.jpg" height="254" width="320" alt=""></a>
    </div><a href="http://www.elektrodefter.com/static/images/2014/07/HlmP3CDA.jpeg" style="clear: left; float: left; margin-bottom: 1em; margin-right: 1em;"><img border="0" height="320" src="http://www.elektrodefter.com/static/images/2014/07/HlmP3CDA.jpeg" width="320" alt=""></a>&nbsp;&nbsp;&nbsp;&nbsp; Arduino'yu bu kadar tanıttıktan sonra biraz da Arduino ile ilgili tartışmalara değinmek isterim. Bazı ileri yaştaki tecrübeli elektronikçiler Arduino'ya karşıyken, özellikle gençler bu konuda Arduino'nun faydasını savunurlar (Evet tanıdık geldi değil mi? Kuşak çatışması). Ama nasıl ki büyüklerimizin teknoloji hakkında söylenmelerinin haklı sebepleri varsa, tecrübeli hocalarımızın da bildikleri var. Nedir bu tartışmanın sebepleri görelim.<br>
    <ol>
      <li>Arduino yalan söyler. Arka planda dönen acı gerçekleri sizden saklar. Eğer olayın ne olduğunu bilmiyorsanız, ön planda basit C kodları görür ve olayın kabloları doğru deliklere bağlamakta olduğunu düşünürsünüz. Şimdi şu iki koda bakalım.
      </li>
    </ol><br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <pre>
#include c:mc8051io.h <br>           #include c:mc8051reg.h <br><br>extern register char cputick; <br><br>   register unsigned char sec100,flag1; <br><br>#define n 50 <br><br>task1(); <br>           task2(); <br><br>main() <br>{ <br> flag1 = 0; <br> sec100 = 0; <br> serinit(9600); <br> while(1){ <br><br> while(cputick == 0) <br> ; <br> cputick = 0; <br> task1(); <br> task2(); <br> } <br>} <br><br>task1() <br>{ <br> sec100++; <br> if (sec100 &gt;= n) <br> {sec100 = 0; <br> flag1 |= 0x01; <br> } <br>} <br><br>task2() <br>{ <br> if ((flag1 &amp; 0x01) != 0) <br>{ <br>  // P1 ^= 0x80; <br>  asm " CPL P1.7"; <br>  flag1 &amp;= ~0x01; <br> } <br>} 
</pre><br>
    <br>
    <pre>
int led = 13;<br><br>void setup() {                <br>  pinMode(led, OUTPUT);     <br>}<br><br>void loop() {<br>  digitalWrite(led, HIGH);<br>  delay(1000);            <br>  digitalWrite(led, LOW); <br>  delay(1000);            <br>}
</pre><br>
    &nbsp;&nbsp;&nbsp; İlk kod 8051'in C koduyla yazılmış blink, yani led açıp kapama kodu. İkincisi ise aynı kodun Arduino ile yazılmış hali. Yoruma gerek yok sanırım.<br>
    <br>
    &nbsp;&nbsp;&nbsp; 2. Arduino tembeldir. Arduino işlerin hep kolayına kaçar ve bize de öyle yapmamızı söyler. Hocalar Arduino veya Rapberry gibi geliştirme kartlarının öğrenciyi tembelleştirdiğinden şikayet eder.<br>
    <br>
    &nbsp;&nbsp;&nbsp; 3. Arduino hazırdır. İnternette Arduino ile ilgili hazır bir çok kit ve kod vardır. Bu da çabalamanıza ve öğrenmenize engel olur.<br>
    <br>
    &nbsp;&nbsp;&nbsp; Peki ne yani Arduino kullanmayalım mı? Tabi ki kullanalım. Ancak unutmayalım ki biz bir şey öğrenmedikten sonra kumandalı araba satın almakla yapmak arasında bir fark yoktur. Bu yüzden yaptığımız şeyi neden ve nasıl yaptığımızı mutlaka araştırmalı ve öğrenmeliyiz.
  </body>
</html>

Yazılma Tarihi: 2014-07-30 13:24:00
{% endblock %}