{% extends 'entrysystem/entrywrapper.html' %}
{% load staticfiles %}
{% block entryblock %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title></title>
  </head>
  <body>
    <br>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      &nbsp;&nbsp;&nbsp;&nbsp; Bir taraftan Arduino ile ilgilenirken C dilini de unutmayalım. Programlama öğrenmek yeni dil öğrenmek gibidir. Bu dile hakim olmanız devre tasarlarken size esneklik sağlayacağı gibi, her zaman için size bir artı sağlar.
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <br>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      &nbsp;&nbsp;&nbsp;&nbsp; Uzatmadan başlayalım. Bu keywordler, değişken ya da sabitlerinize ne şekilde erişebileceğinizi belirler. Global ve local değişkenleri hatırlıyorsunuz. İşte bu keywordler işi ileriye götürür.
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <br>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      &nbsp;&nbsp;&nbsp;&nbsp; <b>a</b><b>uto</b>: Burada pek görülecek bir şey yok. Varsayılan özellik auto'dur. Siz herhangi bir şey yazmadan değişken tanımlarsanız, auto olarak tanımlarsınız ve genel kurallara tabi olursunuz.
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <br>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      &nbsp;&nbsp;&nbsp;&nbsp; <b>r</b><b>egister:</b> <span style="font-weight: normal;">register elektronikte kullanılan bir keyworddür. Değişkenin RAM yerine register'da saklanmasına imkan verir. Bu yüzden ilerde göreceğimiz üzere &amp; operatörü kullanarak adresini kullanamayız çünkü RAM'de olmadığı için adresi yoktur. Registerda tanımlanan değişkenin boyutu register boyutu kadar, genellikle bir “kelime”dir.</span>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <br>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <pre>
register int sayi;
</pre>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <br>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      &nbsp;&nbsp;&nbsp;&nbsp; register hız gerektiren işlemler için kullanılır. Değişken sadece gerekli donanımınız var ise registerde depolanır.
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <br>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <span style="font-weight: normal;">&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-style: normal;"><b>static:</b></span><span style="font-weight: normal;">static, değişkenin odağından çıktıkça yok edilip gerekince tekrar oluşturulmasını engelleyip program çalıştığı müddetçe RAM'de bulunmasını sağlar. Bu, değişken local bile olsa farklı fonksiyonlar tarafından manüpile edilmesine imkan verir. Ancak birden fazla dosyadan oluşan bir program yazıyorsanız sadece o dosyadaki kod o değişkene ulaşabilir.</span>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <br>
    </div>
    <pre>
static int count = 5;
</pre>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <br>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <span style="font-weight: normal;">&nbsp;&nbsp;&nbsp;&nbsp;</span> <b>extern</b><span style="font-weight: normal;">: External olarak kodlayabilirsiniz. Yani bu keyword bu değişkene diğer dış dosyalardan da ulaşılmasını sağlar. Böylece bu değişken programın tüm parçalarınca değiştirilebilir. Şu örneği inceleyin:</span>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <br>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <span style="font-weight: normal;">&nbsp;&nbsp;&nbsp;&nbsp; İlk Dosya: main.c</span>
    </div>
    <pre>
#include &lt;stdio.h&gt;<br>int count;<br>extern void write_extern();<br>main() {    <br>    write_extern();<br>}
</pre><br>
    İkinci Dosya: write.c<br>
    <br>
    <pre>
#include &lt;stdio.h&gt;<br>extern int count;<br>void write_extern(void) {<br>    count = 5;<br>    printf("count is %dn", count);<br>}<br>
</pre>
  </body>
</html>

Yazılma Tarihi: 2014-08-02 18:36:00
{% endblock %}