{% extends 'entrysystem/entrywrapper.html' %}
{% load staticfiles %}
{% block entryblock %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title></title>
  </head>
  <body>
    &nbsp;&nbsp;&nbsp; Pointerlar C'yi C yapan en önemli özelliklereden biridir. Bellek kontrolünü daha çok bizim elimize verir. Şaşalı görevine rağmen öğrenmesi son derece kolay, kullanımı elzem ve çok geniştir.<br>
    &nbsp;&nbsp;&nbsp; "&amp;" operatörünü hatırlıyorsunuzdur. Değişken isminin başına bu operatörü koyduğunuzda size o değişkenin bellekteki adresini verir. Mesela:<br>
    <br>
    <pre>
int var;<br>printf("Değişkenin adresi: %xn", &amp;var);
</pre><br>
    &nbsp;&nbsp;&nbsp; Yukarıdaki kod size var değişkeninin adresini yazar. İşin daha da güzeli bu adresi bir pointer değişkenine atayabilir ve bu değişken yoluyla manipüle edebilirsiniz. Bu iş için de "*" operatörünü kullanırız.<br>
    <br>
    <pre>
veritipi *isim;
</pre><br>
    &nbsp;&nbsp;&nbsp; Pointerları nasıl kullanacağınızı görmek için şu örneği inceleyin:<br>
    <br>
    <pre>
int sayi = 50;<br>int *adres;<br>adres = &amp;sayi;<br>printf("Değişkenin adresi: %xn", adres);<br>printf("Değişkenin değeri: %dn", *adres);
</pre><br>
    <br>
    &nbsp;&nbsp;&nbsp; Null amcayı hatırlıyorsunuz değil mi. Eğer o anda pointerınıza atayacağınız bir adresiniz yoksa, adresi null değerine eşitleyerek hazırda bekletebilirsiniz.<br>
    <br>
    <pre>
int *ptr = NULL;
</pre><br>
    &nbsp;&nbsp;&nbsp; Bu işlem aynı zamanda adresi 0 yapar. Bu değerin adres olarak bi anlamı yoktur ancak hatırlayın, 0 değeri döngüler ve karşılaştırmalar için yanlış, 0 harici değerler doğruyu simgeliyordu. Yani bu sayede örneğin pointera değer atanıp atanmamasına göre bir döngüyü işletebilirsiniz.<br>
    <br>
    <h4>
      &nbsp;&nbsp;&nbsp; Pointer Aritmetiği
    </h4>&nbsp;&nbsp;&nbsp; Pointerları artırabilir, azaltabilir ya da karşılaştırabilirsiniz. Pointerı bir kez arttırdığınızda, değişken tipinin boyutu kadar ileri kaydırılır. Değişkenin değeri değişmez. Yani değişken int ise, bellekte 4 byte yer kaplayacaktır. Pointerınız 1000 ise, 1004 olacaktır. Decrement etme de bu işlemin azaltılarak yapılan halidir.<br>
    <br>
    &nbsp;&nbsp;&nbsp; Pointerların karşılaştırılabilmesi için birbirleriyle bir ilişkileri olmaları gerekir. Bir arrayin elemanları buna örnektir. Şu kodu incelerseniz nasıl karşılaştırma yapabileceğinizi anlarsınız:<br>
    <br>
    <br>
    <pre>
#include "stdio.h"<br>const int MAX =  3 ;<br>int main (){<br>    int var[] = { 10 ,  100 ,  200 };<br>    int i, *ptr;<br>    ptr = var;<br>    i =  0 ;<br><br>    while ( ptr &lt;= &amp;var[MAX -  1 ] ){<br>        printf("Address of var[%d] = %xn", i, ptr );<br>        printf("Value of var[%d] = %dn", i, *ptr );<br>        ptr++;<br>        i++;<br>    }<br>    return  0 ;}
</pre><br>
    &nbsp;&nbsp;&nbsp; Burada while döngüsünün şartına dikkatinizi çekerim. ptr pointerının adresi, arrayin son elemanının adresine kadar increment edildiğinde döngü sonlanacaktır.<br>
    &nbsp;&nbsp;&nbsp; Pointerların da arrayleri olabileceğini söyleyelim. Bir pointera da pointer atayabiliriz. Bunu şu şekilde yaparız:<br>
    <br>
    <pre>
int var;<br>int *ptr;<br>int **pptr;<br>ptr = &amp;var;<br>pptr = &amp;ptr;
</pre><br>
    &nbsp;&nbsp;&nbsp; Fonksiyonlara parametre olarak pointer atayabiliriz. Bu aynı zamanda boyutunu bilmediğimiz bir arrayi parametre olarak almak istediğimiz zaman çok işimize yarar. Çünkü bir arrayin adresi ilk elemanının adresidir ve bu adresi verdiğinizde arrayin boyutunun önemi yoktur.<br>
    <br>
    <pre>
returntipi func(int *arr){}
</pre><br>
    &nbsp;&nbsp;&nbsp; Ya da fonksiyonlardan pointer da döndürebiliriz:<br>
    <br>
    <pre>
returntipi * func(){}
</pre><br>
    &nbsp;&nbsp;&nbsp; Bu şekilde fonksiyon direk değişkeni döndürmek yerine adresini döndürecektir.
  </body>
</html>

Yazılma Tarihi: 2014-08-06 19:37:00
{% endblock %}