{% extends 'entrysystem/entrywrapper.html' %}
{% load staticfiles %}
{% block entryblock %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title></title>
  </head>
  <body>
    &nbsp;&nbsp;&nbsp; Takip ettiğim kaynakta bundan önce veri tipleri anlatılıyordu fakat tecrübelerime göre veri tiplerini erken işlemek havada kalmalarına sebep oluyor bu yüzden kullanmaya başladıkça öğrenmenin daha kalıcı olacağını düşündüm.<br>
    <br>
    <h3>
      <b>&nbsp;&nbsp; Variables (Değişkenler)</b>
    </h3>&nbsp;&nbsp;&nbsp; Değişkenler adı üstünde elimizdeki veriyi depolayıp değiştirebilmemize imkan sağlayan yapılardır. Veri Tipi (Data Type), tanımlayıcı (identifier) ve değer (value) kısımlarından oluşur.&nbsp; Değişken oluşturulurken yapılacak ilk şey değişkeni tanımaktır. Bunu yaparken de şu şekilde yaparız:<br>
    "veritipi tanımlayıcı;". Mesela :<br>
    <br>
    <br>
    <pre>
  int sayi; <br>  char harf;
</pre><br>
    <br>
    &nbsp;&nbsp;&nbsp; Bu halleriyle değişkenlerimiz bir değer taşımazlar. Gerek duyduğumuzda bunlara veri atamamız gerekir. Bunu yapmak da son derece kolaydır:<br>
    <br>
    <br>
    <pre>
  sayi = 5; <br>  harf = 'a';
</pre><br>
    &nbsp;&nbsp;&nbsp; Ancak bu iki işlemi ayrı yapmak zorunda değilsiniz. Hatta tek seferde birden fazla değişken de tanımlanabilir. Mesela:<br>
    <br>
    <br>
    <pre>
  int sayi = 5; <br>  char harf1 = 'a', harf2 = 'b', harf3 = 'c';
</pre><br>
    &nbsp;&nbsp;&nbsp; Gördüğünüz gibi değişken tanımlamak ve değer atamak son derece kolay. Bu değişkeni değiştirmek de farklı değil. Yani "sayi = 5;" şeklinde değer atadıktan sonra "sayi = 3;" yaptığınızda sayi değişkeninin değerinin 3 olarak değiştiğini göreceksiniz. Değişken atarken direk değer vermek zorunda değilsiniz, değeri işlem veya eşitlik olarak da verebilirsiniz:<br>
    <br>
    &nbsp;&nbsp;&nbsp;<br>
    <pre>
  int sayi = 5 + 9; <br>  sayi = sayi * 2;
</pre><br>
    &nbsp;&nbsp;&nbsp; İlk kodun ne işe yaradığı aşikar, değerimiz 5+9 işleminin sonucu olan 14'e eşitlenecektir. Fakat ikinci kod programlamaya aşina olmayan insanlara garip gelebilir. Programlama dillerinde önce eşitliğin sağ tarafı çözülür, sonra sol tarafa eşitlenir. Yani ikinci kodun anlamı sözlü olarak şudur:<br>
    <br>
    <br>
    <pre>
  sayi değişkeninin değeri olan 14'ü iki ile çarp, sonra da sayı değişkenine ata;
</pre><br>
    &nbsp;&nbsp;&nbsp; Sonuç olarak sayi değişkenimiz 28 olacaktır.<br>
    <br>
    <br>
    <h3>
      &nbsp;&nbsp;&nbsp; Constants (Sabitler)
    </h3>&nbsp;&nbsp;&nbsp; Sabitler de değişkenlerle aynı işi yapar. Fakat değişkenlerden farklı olarak bir kere değer atadığınızda bir daha değiştiremezsiniz. Değerin değişmesine ihtiyaç olmadığı durumlarda performansı daha yüksek olduğu için sabitler kullanılır.<br>
    <br>
    &nbsp;&nbsp;&nbsp; Sabit tanımlamanın C'de iki farklı yöntemi vardır. İlk yöntem "const" ayrılımış kelimesini kullanmaktır. Bu işlem değişken tanımlamaya son derece benzer.<br>
    <br>
    <br>
    <pre>
  const int CEVRE = 500; 
</pre><br>
    &nbsp;&nbsp;&nbsp; <span style="color: red;">Not: <span style="color: white;">Sabitler okunabilirliği artırmak ve sabit olduğunu belli etmek adına büyük harfle yazılır, bu bir zorunluluk değildir ama faydalı bir uygulamadır.</span></span><br>
    <br>
    &nbsp;&nbsp; Sabitler de değişkenler gibi işleme sokulabilir. CEVRE * 2 işleminin sonucu 1000 olacaktır. Sabit tanımlamanın bir diğer yolu da preprocessor (ön işlem) kelimesi olan #define kullanmaktır. Şu kodu inceleyin:<br>
    <br>
    <br>
    <br>
    <pre>
#include &lt;stdio.h&gt;<br>#define CEVRE = 500;<br><br>main() {<br> printf(CEVRE * 2);<br> return (0);<br>}<br> 
</pre>&nbsp;&nbsp;&nbsp; Buradaki #include ve #define kelimeleri preprocessor olarak görev yapar. Preprocessor ne demek ve ne işe yarar sonra işleyeceğiz ama şimdilik #define kelimesiyle nasıl sabit yapıldığına ve veri tipini belirtmediğimize dikkat edin.
  </body>
</html>

Yazılma Tarihi: 2014-07-20 17:33:00
{% endblock %}