{% extends 'entrysystem/entrywrapper.html' %}
{% load staticfiles %}
{% block entryblock %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title></title>
  </head>
  <body>
    <br>
    <div style="clear: both; text-align: center;">
      <a href="http://www.elektrodefter.com/static/images/2014/07/0_6a5c1_e4d4e02b_XL.png" style="margin-left: 1em; margin-right: 1em;"><img border="0" src="http://www.elektrodefter.com/static/images/2014/07/0_6a5c1_e4d4e02b_XL.png" height="263" width="320" alt=""></a>
    </div><br>
    &nbsp;&nbsp;&nbsp; Öğrenme sürecinde not almanın gerekliliğine inanan bir kişi olarak dersler sırasında hep not alırım. Bu huyumun faydasını gördüğümü de kesinlikle söyleyebilirim. Ancak ders dışında yaptığım işlerde bu alışkanlığımı hiç kullanmadım. Bu yüzden kendi başıma öğrendiğim şeyleri çabuk kaybettiğimi ve uygulamaya geçiremediğimi farkettim. İnternette gördüğüm bir yazıda bir mühendisin blog tutmasının hem şimdiki hem de ileriki hayatında önemini okuduğumda blog tutmanın isabetli olacağı kararına vardım.<br>
    <br>
    &nbsp;&nbsp;&nbsp; Blog tutmamdaki tek motivasyonumun bu olduğunu söylersem yanlış olur. Bazı konulardaki Türkçe kaynak sıkıntısı dikkatimden kaçmıyor. Bu durumu işi iyi bilip kaynak hazırlayabilecek olanların zaten yeterince yabancı dil sahibi olduklarından yabancı kaynakları yeterli görüp olayı önemsememeleri, yabancı dili yeterli olmayan insanların hazırladıkları kaynakların da derli toplu olmaması olarak görüyorum. Tabi ki gerçekten kaliteli ve bilgili bazı yazarların emeklerini görmezden gelmek nankörlük olur ki daha önceki dönemlerde gayet derslerinden faydalandım. İşte bu sebepten ötürü haddim olmayarak bir yandan öğrenirken bir yandan da benim gibi öğrenme süreci yaşayan insanlara faydalı olabilecek yazılar yazmayı istiyorum.<br>
    <br>
    &nbsp; &nbsp; Son olarak bu blogu sıkıcı bir bilgi kaynağı yapmak istemediğimi de belirtmeliyim. Hayatımda ilk defa blog tuttuğum için blogumdan herhangi bir şekilde faydalanan ya da hasbelkader ziyaret eden siz okuyuculardan şiddetle geri bildirim istiyorum.&nbsp; Her türlü dönütünüzün hem benim, hem bu blogun, hem de daha sonraki ziyaretçilerin gelişiminde önemli olacağını belirtmek isterim. Sağlıcakla.<br>
    <br>
    <br>
  </body>
</html>

Yazılma Tarihi: 2014-07-15 21:59:00
{% endblock %}