{% extends 'entrysystem/entrywrapper.html' %}
{% load staticfiles %}
{% block entryblock %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title></title>
  </head>
  <body>
    Şimdi size kısaca cisimlere nasıl kuvvet, çizgisel ve açısal momentum uygulayabileceğinizi göstereceğim. İşlem son derece basit olduğundan uzun bir açıklamaya gerek görmüyorum.<br>
    <br>
    <pre>
body.applyForceToCenter(new Vec2(1000, 0));<br>body.applyLinearImpulse(new Vec2(1000, 0), new Vec2(1, 1), true);<br>body.applyAngularImpulse(50f);<br>body.m_angularVelocity = 30;
</pre><br>
    Şimdi buradaki kodları inceleyelim. body isimli değişkenimiz önceki derslerden hatırladığımız cismimizin bedenine ait olan Body classı. applyForceToCenter() metodu adı üzerinde cismin merkezine verilen vektörü newton cinsinden kuvvet olarak uygular. Eğer kuvveti merkeze uygulamak isterseniz o zaman applyForce() metodunu kullanabilirsiniz. Bu durumda ikinci parametre olarak Vec2 cinsinden kuvvet uygulanacak nokta da girilmelidir.<br>
    <br>
    applyLinearImpulse() metodu da kuvvet yerine itme uygulamanıza yarar. İlk vektör itmenin büyüklüğünü, ikincisi uygulanacak noktayı, üçüncü parametre de cismin uyandılıp uyandırılmayacağını belirtir ki genelde true olmalıdır. applyAngularImpulse ise açısal momentum uygular ve float alır.<br>
    <br>
    Gelelim son satıra. Aslında bu yaptığım hoş bir şey değil çünkü direk o sınıfın değişkenine eriştim ancak bunu yapmamın bir sebebi var. Bu şekilde cismin açısal hızın direk elle belirledim bu sayede cismim bu açısal hız ile dönmeye başlayacak. Bu işlem özellikle kinematik cisimlerde kullanışlı çünkü hatırlayın bu cisimlere kuvvet ya da itme uygulayamazsınız ancak elle bu cismin hızını ya da açısal hızını belirleyebilirsiniz. Bu sayede dönen ya da hareket eden platformlar elde edebilirsiniz. Eğer çizgisel hıza müdahele etmek istiyorsanız m_linearVelocity propertysini değiştirmeniz yeterli.<br>
    <br>
    <h3>
      Koordinat Sistemi
    </h3>Neden bu şekilde bir konu oluşturmuş olabilirim ki JBox2D zaten bana konum bilgisi veriyor? Ancak evdeki hesap çarşıya uymaz çünkü JBox2D metrik sistemi kullanır. Önceki konuda aldığım çıktıyı inceleyin:<br>
    <br>
    <br>
    <pre>
Pozisyon: (50.0,49.997276)<br>Pozisyon: (50.0,49.991833)<br>Pozisyon: (50.0,49.983665)<br>Pozisyon: (50.0,49.97278)<br>Pozisyon: (50.0,49.959167)<br>Pozisyon: (50.0,49.942833)<br>Pozisyon: (50.0,49.92378)<br>Pozisyon: (50.0,49.902)<br>Pozisyon: (50.0,49.8775)<br>Pozisyon: (50.0,49.850277)<br>Pozisyon: (50.0,49.82033)<br>Pozisyon: (50.0,49.787666)<br>Pozisyon: (50.0,49.752277)<br>Pozisyon: (50.0,49.714165)<br>Pozisyon: (50.0,49.673332)<br>Pozisyon: (50.0,49.629776)<br>Pozisyon: (50.0,49.5835)<br>Pozisyon: (50.0,49.5345)<br>Pozisyon: (50.0,49.482777)<br>Pozisyon: (50.0,49.428333)<br>Pozisyon: (50.0,49.371166)<br>Pozisyon: (50.0,49.311275)<br>Pozisyon: (50.0,49.248665)<br>Pozisyon: (50.0,49.18333)<br>Pozisyon: (50.0,49.115276)<br>Pozisyon: (50.0,49.0445)<br>Pozisyon: (50.0,48.970997)<br>Pozisyon: (50.0,48.894775)<br>Pozisyon: (50.0,48.81583)<br>Pozisyon: (50.0,48.734165)
</pre><br>
    y-değerinin ne kadar&nbsp; yavaş azaldığını gözlemleyin. Çünkü hatırlarsanız step() metodumuzun zaman basamağını 1/60f olarak belirlemiştik ve 30 kez döngüye soktmuştuk. Yani gördüğümüz hareket sadece 1/2 saniyelik bir hareket. Şimdi ekranımızın boyutunu düşünün. Ekran boyutumuz yarım metre bile değil neredeyse (en azından benim dizüstüm böyle). Yani topumuz bir metrecik gittiğinde bile çoktan ekrandan çıkıp gitmiş olacak. Öyleyse biz belli sayıda pikseli 1 metre olarak tanımlayıp buna göre davranmalıyız ki ekranımızda hareketleri rahat bir şekilde gözlemleyebilelim. Bu konu aynı zamanda JavaFX'e de giriş yapacağım konu ancak hangi UI kitini kullanırsanız kullanın, bu kısımda bariz bir değişiklik olmayacak.<br>
    <br>
    Eğer yazacağınız uygulamayı tam ekran olmayan, sabit bir pencere içerisinde kullanacaksanız hiç sorun yok, 100 gibi sabit bir çarpan&nbsp; işinizi görecektir. Fakat benim de projemde yaptığım gibi tam ekran uygulama yazıp bunu farklı bilgisayarlarda da çalıştıracaksanız korkmayın, size nasıl olacağını göstereceğim.<br>
    <br>
    <br>
    <pre>
import javafx.stage.Screen;<br><br>public class GameObject {<br>    public final static int SCREEN_WIDTH = (int) Screen.getPrimary().getBounds().getWidth();<br>    public final static int SCREEN_HEIGHT = (int) Screen.getPrimary().getBounds().getHeight();<br>    protected final static int RATIO = SCREEN_WIDTH;<br><br> //Convert a JBox2D x coordinate to a JavaFX pixel x coordinate<br> public static float boxToJavaX(float posX) {<br>     float x = RATIO * posX / 100.0f;<br>     return x;<br> }<br>  <br> //Convert a JavaFX pixel x coordinate to a JBox2D x coordinate<br> public static float javaToBoxX(float posX) {<br>     float x = (posX * 100.0f)/RATIO;<br>     return x;<br> }<br>  <br> //Convert a JBox2D y coordinate to a JavaFX pixel y coordinate<br> public static float boxToJavaY(float posY) {<br>     float y = RATIO - 1f*RATIO * posY / 100.0f;<br>     return y;<br> }<br>  <br> //Convert a JavaFX pixel y coordinate to a JBox2D y coordinate<br> public static float javaToBoxY(float posY) {<br>     float y = 100.0f - ((posY * 100f) /RATIO) ;<br>     return y;<br> }<br>  <br> //Convert a pixel width to JBox2D width<br> public static float javaToBoxWidth(float width) {<br>     return 100f*width / (RATIO*2);<br> }<br>  <br> //Convert a pixel height to JBox2D height<br> public static float javaToBoxHeight(float height) {<br>     return 100.f*height/(RATIO*2);<br> }<br> <br> //Convert a pixel radius to JBox2D radius<br> public static float javaToBoxRadius(float radius) {<br>     return 100.f * radius/(RATIO);<br> }<br> <br> //Convert a pixel height to JBox2D height<br> public static float boxToJavaDistance(float dist) {<br>     return (RATIO * 2 * dist)/100f;<br> }<br> <br> //Convert a pixel radius to JBox2D radius<br> public static float boxToJavaRadius(float radius) {<br>     return (radius * RATIO) / 100f;<br> }<br>}<br>
</pre><br>
    İlk bakışta karışık görünse de merak etmeyin çoğu birbirinin benzeri şeyler. Öncelikle buradaki en önemli eleman <i>RATIO</i> sabitimiz. Siz sadece bu <i>RATIO</i> değerini değiştirerek kendi uygulama pencerenizin boyutuna göre ayarlayabilirsiniz. Mesela 100 iyi bir orandır, 100 pikseli 1 metre olarak ayarlar.<br>
    <br>
    Tam ekran uygulamalar için çözümüm ise javafx.stage.Screen sınıfında gizli. Bu sınıf ekranınızın boyutunu döndürür. Böylece tam ekran bir uygulama için RATIO değerimizi SCREEN_WIDTH yani ekran genişliği değerine ayarladığımızda, x ekseninde 0 değeri 0. piksel olan en sol sütundaki pikselleri, 100 değeri de ekranın en sağ sütunundaki pikselleri verecektir. Bu sayede siz de bu yüzde hesabından konumu tahmin edebileceğiniz için zorlanmaycaksınız. Mesela 60 x pozisyonunu verdiğiniz cisim ekranın soldan yüzde 60'lık bölümünde olacak. Bu yöntem y ekseninde çalışmayacak ancak y ekseninin de gayet tutarlı olduğunu göreceksiniz.<br>
    <br>
    Peki bunu nasıl sağladık? Özellikle ilk iki metodu incelediğinizde (diğer metodlar biraz modifiye edilmiş ya da işlemin tersi) jbox2d konumunu ekran genişliği ile çarpıp 100'e böldük. Olayı geometrik olarak kafanızda canlandırın. Ekranın sol üst köşesi 0 olmak üzere koordinat eksenlerini canlandırın. Koordinat sistemi şöyle gözükecektir:<br>
    <br>
    <div style="clear: both; text-align: center;">
      <a href="http://www.elektrodefter.com/static/images/2014/09/koor.png" style="margin-left: 1em; margin-right: 1em;"><img border="0" src="http://www.elektrodefter.com/static/images/2014/09/koor.png" height="344" width="640" alt=""></a>
    </div><br>
    Burada dikkat edilecek şey, y ekseni aşağı gittikçe artar. Peki neden biz hocadan böyle mi gördük? Hayır, ancak hatırlayın, birincisi biz yer çekimini aşağı yönde tanımladık, ayrıca genelde arayüz kitleri bu sistemi kullanırlar, işte bu yüzden böyle tanımladık. Ancak siz beğenmiyorsanız<br>
    <br>
    <pre>
RATIO - 1f*RATIO * posY / 100.0f;<br>float y = 100.0f - ((posY * 100f) /RATIO) ;
</pre><br>
    değerlerini uygun şekilde ayarlayarak durumu tersine çevirebilirsiniz. Eğer yeni koordinat sisteminizi denemek istiyorsanız, yukarıda verdiğim kodu&nbsp; geçen dersteki kodların yanına koyup pozisyonu yazdırdığımız satırları şöyle değiştirin:<br>
    <br>
    <br>
    <pre>
System.out.println("Pozisyon: " + GameObject.boxToJavaX(body.getPosition().x) + " , " <br>+ GameObject.boxToJavaY(body.getPosition().y));
</pre><br>
    Her şey doğru ise sonucun ekran çözünürlüğünüzle tutarlı olduğunu göreceksiniz.<br>
  </body>
</html>

Yazılma Tarihi: 2014-09-10 17:56:00
{% endblock %}