{% extends 'entrysystem/entrywrapper.html' %}
{% load staticfiles %}
{% block entryblock %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title></title>
  </head>
  <body>
    Nasıl cisim oluşturmayı da öğrendiğimize göre artık dünyamızı canlandırmaya başlayabiliriz. Dünyamızı ileri doğru götürme işini step() metoduyla yaparız. Bu fonksiyon, kendisine baştan verilen özelliklere bakarak belirli bir zaman dilimi için dünyayı simüle eder. Şu kodu inceleyelim:<br>
    <br>
    <pre>
private float timeStep = 1.0f / 60.f;<br>private int velocityIterations = 8;<br>private int positionIterations = 3;
</pre><br>
    Bu değerleri step() fonksiyonuna parametre olarak gireceğiz. timeStep, bizim dünyayı ne kadar süre ileri taşıyacağımızı belirler. Bir saniyenin 1/60 saniye, insan gözünün farkedemeyeceği kadar kısa bir süre olduğundan gayet iyi bir değer. Ancak yeterince hızlı bir bilgisayarınız yoksa (ki baya baya kötü olmalı) bu değeri düşürebilirsiniz. velocityIterations ve positionIterations sırasıyla hız ve konum bilgisinin ne kadar irdeleneceğini belirtir. Yüksek değerler daha doğru bilgi verirken performansı düşürür. Benim ayarladığım değerler gayet yeterlidir.<br>
    <br>
    Şimdi dünyamızı bir adım öteye taşıyalım:<br>
    <br>
    <pre>
world.step(timeStep, velocityIterations, positionIterations);
</pre><br>
    Dünyanız için küçük ancak sizin için büyük bir adım. Ne oldu peki? Biraz hayal kırıklığına uğramış olabilirsiniz çünkü siz hiçbir şey göremeyeceksiniz. Neler olduğunu görebilmek için bir cismi takibe alıp konum, açı gibi bilgilerini ekrana yazdırabilirsiniz. Şimdi aşağıya çalışan canlı bir örnek koyacağım. Bu örneğin yapacağı şey basitçe bir CircleShape eklemek, dünyayı arka arkaya 30 kere simüle etmek ve cismin pozisyonunu yazdırmak olacak.<br>
    <br>
    <br>
    <pre>
import org.jbox2d.collision.shapes.CircleShape;<br>import org.jbox2d.common.Vec2;<br>import org.jbox2d.dynamics.BodyType;<br>import org.jbox2d.dynamics.Body;<br>import org.jbox2d.dynamics.BodyDef;<br>import org.jbox2d.dynamics.FixtureDef;<br>import org.jbox2d.dynamics.World;<br><br><br>public class Jbox {<br> static World world = new World(new Vec2(0, -9.8f));<br> private static float timeStep = 1.0f / 60.f;<br> private static int velocityIterations = 8;<br> private static int positionIterations = 3;<br> protected static CircleShape cs;<br> protected static BodyType type;<br> protected static BodyDef bd = new BodyDef();<br> public static Body body;<br><br> public static void main(String[] args)  {<br>  cs = new CircleShape();<br>  cs.m_radius = 10;<br>  bd.type = BodyType.DYNAMIC;<br>  bd.position.set(50, 50);<br>  <br>  //Fikstürü tanımlayalım<br>  FixtureDef fd = new FixtureDef();<br>  fd.shape = cs;<br>  fd.restitution = 0.6f;<br>  fd.friction = 0.9f;<br>  fd.density = 0.8f;<br>  body = world.createBody(bd);<br>  body.createFixture(fd);<br>  for (int i = 0; i &lt; 30; i++) {<br>   world.step(timeStep, velocityIterations, positionIterations);<br>   System.out.println("Pozisyon: " + body.getPosition());<br>  }<br> }<br>}
</pre><br>
    Buraya da aldığım çıktıyı yazıyorum ki karşılaştırabilesiniz:<br>
    <br>
    <pre>
&gt; java Jbox<br>Pozisyon: (50.0,49.997276)<br>Pozisyon: (50.0,49.991833)<br>Pozisyon: (50.0,49.983665)<br>Pozisyon: (50.0,49.97278)<br>Pozisyon: (50.0,49.959167)<br>Pozisyon: (50.0,49.942833)<br>Pozisyon: (50.0,49.92378)<br>Pozisyon: (50.0,49.902)<br>Pozisyon: (50.0,49.8775)<br>Pozisyon: (50.0,49.850277)<br>Pozisyon: (50.0,49.82033)<br>Pozisyon: (50.0,49.787666)<br>Pozisyon: (50.0,49.752277)<br>Pozisyon: (50.0,49.714165)<br>Pozisyon: (50.0,49.673332)<br>Pozisyon: (50.0,49.629776)<br>Pozisyon: (50.0,49.5835)<br>Pozisyon: (50.0,49.5345)<br>Pozisyon: (50.0,49.482777)<br>Pozisyon: (50.0,49.428333)<br>Pozisyon: (50.0,49.371166)<br>Pozisyon: (50.0,49.311275)<br>Pozisyon: (50.0,49.248665)<br>Pozisyon: (50.0,49.18333)<br>Pozisyon: (50.0,49.115276)<br>Pozisyon: (50.0,49.0445)<br>Pozisyon: (50.0,48.970997)<br>Pozisyon: (50.0,48.894775)<br>Pozisyon: (50.0,48.81583)<br>Pozisyon: (50.0,48.734165)
</pre>
  </body>
</html>

Yazılma Tarihi: 2014-09-09 16:11:00
{% endblock %}