{% extends 'entrysystem/entrywrapper.html' %}
{% load staticfiles %}
{% block entryblock %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title></title>
  </head>
  <body>
    Bu yazımızda, herhangi bir kod yazmadan Xilinx ile nasıl devreler oluşturup VHDL ile programlarız onu anlatacağım. Bu sayede hem FPGA programlamadaki rutin işleri göstermiş, hem de FPGA mantığının basit bir üstünden geçmiş olacağım. Öncelikle Xilinx ISE programını başlatıp yeni bir proje oluşturalım. Bunun için menü çubuğundan File -&gt; New Project yolunu izleyin. Açılan pencerede Name kısmına proje ismini girip alttaki üstünde "Top-Level source type:" yazılı listeden "Schematic" seçelim. Bu liste bize yeni proje oluştururken hangi yöntemi kullanacağımızı soracak. Burda bizi ilgilendiren şimdilik HDL ve Schematic. Next ile ileri gidince kullandığımız karda göre ayarlarımızı yapacağız. Basys2 için ayarlar şöyle:
    <table style="margin-left: auto; margin-right: auto; text-align: center;" cellspacing="0" cellpadding="0" align="center">
      <tbody>
        <tr>
          <td style="text-align: center;">
            <a style="margin-left: auto; margin-right: auto;" href="http://www.elektrodefter.com/static/images/2015/01/Ekran-2BAl-C4-B1nt-C4-B1s-C4-B1.png"><img src="http://www.elektrodefter.com/static/images/2015/01/Ekran-2BAl-C4-B1nt-C4-B1s-C4-B1.png" alt="" border="0"></a>
          </td>
        </tr>
        <tr>
          <td style="text-align: center;">
            Yeni proje oluşturma
          </td>
        </tr>
      </tbody>
    </table>Tekrar Next ile devam edip gelen ekranda ayarları son kez kontrol ederek Finish diyelim. Projemiz oluştu ancak şu an hiçbir modülümüz mevcut değil. Sol panelde Design sekmesinde kartımızın kodunun yazılı olduğu bir çip resmi var. Buna sağ tıklayıp "New Source" seçelim.
    <table style="margin-left: auto; margin-right: auto; text-align: center;" cellspacing="0" cellpadding="0" align="center">
      <tbody>
        <tr>
          <td style="text-align: center;">
            <a style="margin-left: auto; margin-right: auto;" href="http://www.elektrodefter.com/static/images/2015/01/Ekran-2BAl-C4-B1nt-C4-B1s-C4-B12.png"><img src="http://www.elektrodefter.com/static/images/2015/01/Ekran-2BAl-C4-B1nt-C4-B1s-C4-B12.png" alt="" width="640" height="345" border="0"></a>
          </td>
        </tr>
        <tr>
          <td style="text-align: center;">
            Yeni dosya açma
          </td>
        </tr>
      </tbody>
    </table>Listeden Schematic seçip dosyaya bir isim verelim. Next ardından Finish ile dosyamızı oluşturalım. Yeni açılan boş sayfamız çalışma alanımız. Ben iki bit bir adder yapmak istiyorum. 2-bit adderın tamamlanmış şeması şu şekilde:
    <table style="margin-left: auto; margin-right: auto; text-align: center;" cellspacing="0" cellpadding="0" align="center">
      <tbody>
        <tr>
          <td style="text-align: center;">
            <a style="margin-left: auto; margin-right: auto;" href="http://www.elektrodefter.com/static/images/2015/01/2bitadder.png"><img src="http://www.elektrodefter.com/static/images/2015/01/2bitadder.png" alt="" width="640" height="328" border="0"></a>
          </td>
        </tr>
        <tr>
          <td style="text-align: center;">
            2-bit adder
          </td>
        </tr>
      </tbody>
    </table>Bunun için gerekli componentleri seçip yerleştirelim. Sol taraftaki dikey çubukta "Add Symbol" butonunu bulup tıklayın. Kategorilere ayrılmış bir liste göreceksiniz. Bu listede alttaki filtreyi kullanarak komponent aratabilirsiniz. Bu listeden bizim için gerekli olan komponentleri seçelim. Komponentlerin ismini şemada görüyorsunuz. AND, OR ve XOR ların arkasındaki gördüğümüz sayılar da input sayımızı belirtiyor.
    <table style="float: left; margin-right: 1em; text-align: left;" cellspacing="0" cellpadding="0">
      <tbody>
        <tr>
          <td style="text-align: center;">
            <a style="clear: left; margin-bottom: 1em; margin-left: auto; margin-right: auto;" href="http://www.elektrodefter.com/static/images/2015/01/compsel.png"><img src="http://www.elektrodefter.com/static/images/2015/01/compsel.png" alt="" width="308" height="640" border="0"></a>
          </td>
        </tr>
        <tr>
          <td style="text-align: center;">
            Symbols Sekmesi
          </td>
        </tr>
      </tbody>
    </table>Bileşenlerimizi yerleştirdikten sonra sırada kablo ile bağlamak var. Sol taraftaki dikey araç çubuğunda gördüğünüz kırmızı çizgi çeken kalem butonu, kablo çizmemizi sağlıyor. Önce ona tıkladıktan sonra yapmamız gereken tek şey, komponentlerin açık uçları arasına kabloları çekip birleştirmek. Şemadaki şekilde birleştirdikten sonra, araç çubuğundaki siyah imleci seçip, komponentleri sürükleyerek devreyi düzenleyebilirsiniz. Son olarak eklememiz gereken bir şey kaldı, o da input ve outputlar. Komponentleri seçmemize yarayan butonun üstündeki etiket işareti, input output etiketleri eklemimizi sağlıyor. Buna tıkladığımızda, Xilinx bizim için tıkladığımız yere göre otomatik olarak input ya da output etiketlerini koyuyor. Tek tek A0, A1, B0, B1, Q0, Q1 ve C0 yani kalan çıktısının olduğu yerlere etiket koyalım. Yanlış yere tıklarsanız Xilinx sizi uyaracaktır. Farkettiğiniz üzere Xilinx bizim anlamadığımız hoş olmayan etiketler koyuyor. Şimdi tek tek bu etiketlere sağ tıklayıp "Rename Port" seçeneğini seçelim. Açılan pencerede istediğimiz ismi girip işlemimizi tamamlayalım. Böylece devre şemamız tamamlanmış oldu.
    <table style="float: left; margin-right: 1em; text-align: left;" cellspacing="0" cellpadding="0">
      <tbody>
        <tr>
          <td style="text-align: center;">
            <a style="clear: left; margin-bottom: 1em; margin-left: auto; margin-right: auto;" href="http://www.elektrodefter.com/static/images/2015/01/createsche.png"><img src="http://www.elektrodefter.com/static/images/2015/01/createsche.png" alt="" width="378" height="640" border="0"></a>
          </td>
        </tr>
        <tr>
          <td style="text-align: center;">
            Design sekmesi
          </td>
        </tr>
      </tbody>
    </table>2-bit adderlara sahip olduğumuza göre, bununla kolayca 4-bit adder yapabiliriz. Kendi tasarladığımız 2 bit adderları kapalı kutulara çevirerek daha büyük tasarımımızı daha göze hoş hale getirebilir, aynı zamanda da tekrar eden bileşenleri kolaylıkla kopyalayabiliriz. Şimdi sol çubuktaki "Design" sekmesine gelelim. "ikibitadder" şeklinde isimlendirdiğimiz şemamıza bir kere sol tıklayalım. Altta çıkan menüde "Design Utilities" kısmına genişlettiğimizde en üstteki seçenek olan "Create Schematic Symbol" seçeneğini çift tıkla başlatabiliriz. Eğer her şey yolunda gittiyse resimdeki gibi tik işaretini göreceksiniz. Şemamıza sağ tıklayarak "New Source" seçin ve "dortbitadder" isimli yeni bir şematik oluşturun. Bu adımdan sonra tekrar "Symbols" sekmesine gelin. Arama kutusuna ikibitadder yazdığınız zaman oluşturduğumuz modülü göreceksiniz. Şimdi tıpkı az önce yaptığınız gibi bu bileşeni şemamıza ekleyelim. İsterseniz sağ tık menüsünden Symbol-&gt; Edit Symbol yolunu kullanarak simgenizi ayrıntılı bir biçimde düzenleyebilirsiniz. 4-bit adder için gerekli şemayı aşağıya koyuyorum. Input ve output isimlendirmelerine dikkat edin çünkü daha sonra cihazımızın ayarlarını yapıp portlarımızı belirlerken bu isimleri kullanacağız.
    <table style="margin-left: auto; margin-right: auto; text-align: center;" cellspacing="0" cellpadding="0" align="center">
      <tbody>
        <tr>
          <td style="text-align: center;">
            <a style="margin-left: auto; margin-right: auto;" href="http://www.elektrodefter.com/static/images/2015/01/4bitadder2.png"><img src="http://www.elektrodefter.com/static/images/2015/01/4bitadder2.png" alt="" width="640" height="297" border="0"></a>
          </td>
        </tr>
        <tr>
          <td style="text-align: center;">
            2-bit adderlardan oluşan 4-bit adder
          </td>
        </tr>
      </tbody>
    </table>Şemayı incelediğinizde dizaynımın çok da verimli olmadığını göreceksiniz. Direk iki bit adderı temel aldığım için, kalan inputum yok, bu yüzden ilk iki basamaktan gelen kalanı da ayrıca toplamam gerekti. Bu tarz adderlara "half adder" denir. Kalanım tek basamaklı olduğu için ikinci basamağı toprakladım, bu yüzden boş yere bir çok bileşen harcamış oldum. Böylece 4-bit adderımızı tamamlamış olduk. Sonraki yazımda FPGA için bu projeyi nasıl ayarlayacağımızı ve cihazımıza nasıl yükleyeceğimizi anlatacağım.
  </body>
</html>

Yazılma Tarihi: 2015-01-22 17:48:00
{% endblock %}