{% extends 'entrysystem/entrywrapper.html' %}
{% load staticfiles %}
{% block entryblock %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title></title>
  </head>
  <body>
    Yol haritasını bu noktada yazmamın bir sebebi var. Bu bir bilgisayar mühendisi öğrencisinin blogu değil bir elektronik öğrencisinin bloguydu bu yüzden şimdiye kadar C dilini son derece yüzeysel ve az örnekle anlattım. Yeteri kadar C bilgisi verip bir an önce proje-örnek bazlı programlama olayına geçmek istedim. C çok yaygın bir dil olduğundan hem Türkçe hem de yabancı dillerde bir çok güzel kaynak bulabilirsiniz. Bu yüzden geç kalmış&nbsp; bir açıklama yapmak zorundayım.<br>
    <br>
    <ol>
      <li>Başka bir programlama dili bilmiyorsanız önce daha kolay bir dil ve algoritma bilgisi öğrenin. Sonra bu kaynağa başvurun.
      </li>
      <li>Bu kaynak size faydalı bilgisayar uygulamaları yazmayı öğretmez. Amacınız buysa başka kaynaklara bakmanızı tavsiye ederim.
      </li>
      <li>Bu kaynak elektronikle ilgili iseniz faydalıdır.
      </li>
      <li>Asıl olayımız bundan sonra sonra başlayacaktır.&nbsp;
      </li>
      <li>Öncelikli olarak ardunio ile başlayacağım.
      </li>
    </ol>Evet çeşitli sebeplerden ötürü arduino ile ilgili ufak projemsi örnekler vereceğim. Arduino C dilinin modifiye edilmiş bir halini kullanır bu yüzden C dilini anlattık. C dilini etkili kullanmak, devrelerimizi rahat ve işlevsel programlamamızı sağlayacaktır.<br>
    <br>
    Neden ardunio kullandığımı sonraki yazımda açıklayacağım. Ancak ardunio'nuz yoksa ve de almak istemiyorsanız, takip etmenizin anlamsız olacağı anlamına gelmez. Bundan sonraki yazılarımı resimli ve ayrıntılı yazacağım için, uygulayamasanız bile mantığı anlayacağınızı düşünüyorum.
  </body>
</html>

Yazılma Tarihi: 2014-07-29 20:39:00
{% endblock %}