{% extends 'base.html' %} 
{% load staticfiles %} 
{% block base_content %} 
{% for entry in entries%}
<div class="entrytitle">
	<h1>
		<a href="{% url 'showEntry' entry.url_name %}"> {{entry.title}}</a>
	</h1>
	<br>

	<div class="entrysummary">{% autoescape off %}{{entry.summary}}
	{% endautoescape %}</div>
</div>
<br>
{% endfor %} 
{% endblock %}
