{% extends 'entrysystem/entrywrapper.html' %}
{% load staticfiles %}
{% block entryblock %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title></title>
  </head>
  <body>
    &nbsp;&nbsp;&nbsp; Bir programlama dilinin en temel özelliklerinden birisi de verileri türlerine göre sınıflandırıp depolamasıdır. Çoğu dilde veri tipleri benzerdir ve günlük hayattaki deneyimlerimizden çok farklı olmadıkları için öğrenmesi kolaydır. Her ne kadar konunun ayrıntıları çok olsa da girmeye gerek görmüyorum.<br>
    <br>
    &nbsp; &nbsp; En temelde, daha önce de bir kısmını kullandığımız veri tipleri olan, Integer, Floating Point, Void ve türetilmiş veri tiplerini sayabiliriz. Biz bunların içinden en çok işimiz düşenleri inceleyeceğiz.<br>
    <br>
    <h3>
      &nbsp;&nbsp; Integer (Tam Sayı):
    </h3>&nbsp;&nbsp;&nbsp; Bu grubun içerisinde char, int, short, long ve bunların "unsigned" versiyonları bulunur. Unsigned veri tiplerinin negatif olmayacağı programcı tarafından garanti edildiğinden sadece 0'dan büyük sayıları atayabilirsiniz. Kısaca bu tipleri açıklayalım.<br>
    <br>
    &nbsp;&nbsp;&nbsp; <b>char:</b> Character kelimesinin kısaltamısı olan bu veri tipi, kısaca harf, sayı ve bazı sembolleri depolamaya sağlar. Matematiksel işleme sokulabilir ve byte değerine göre işlem görür. Değişken tanımlarken şu şekilde tanımlanır:<br>
    <br>
    <br>
    <pre>
  char harf = 'g';<br>  char sayi = '8'; 
</pre><br>
    &nbsp;&nbsp;&nbsp; <b>int, short ve long:</b> Bu üçü tam sayı depolayan veri tipleridir. İsimlerinden de belli olduğu üzere short -32,768'den 32,767'ye kadar olan sayıları long ise bu aralıktan daha büyük aralıktaki sayıları depolamaya yarar. int ise ne kadar alan ayıracağını dinamik olarak belirler yani duruma göre hafızada short ya da long kadar yer kaplar.<br>
    <br>
    <br>
    <pre>
  short sayi1 = 10000;<br>  long sayi2 = 500000;<br>  int sayi3 = 8; 
</pre><br>
    <h3>
      &nbsp;&nbsp; Floating-Point (Ondalık Sayı):
    </h3>&nbsp;&nbsp;&nbsp; Bu kategoride float, double ve long double bulunur. Sırasıyla 6, 15 ve 19'luk basamağa kadar depolamaya olanak sağlarlar. Şu şekilde değişken tanımlanırlar:<br>
    <br>
    &nbsp;&nbsp;<br>
    <pre>
  float aboat = 32000.0;<br>  double abet = 2.14e9;<br>  long double dip = 5.32e-5; 
</pre><br>
    <h3>
      &nbsp;&nbsp; Void:
    </h3>&nbsp;&nbsp;&nbsp; Void kavramı yabancısı olan biri için karmaşık gelebilir ancak bir çok C benzeri dilde vardır. Void genelde fonksiyon tanımlarken, ya da fonksiyonlara parametre olarak verilebilir. Kabaca herhangi bir değer döndürmeyen, sadece kendisine verilen işleri yapan fonksiyonlarda kullanılır denebilir. Daha ayrıntılı işlenecektir.<br>
    <br>
    <h3>
      &nbsp;&nbsp; Aritmetik İşlemler:
    </h3>&nbsp;&nbsp;&nbsp; C'de aritmetik işlemler günlük hayatta gördüğümüz matematikten farklı değildir. Çarpma için "*", bölme için "/", toplama için "+", çıkarma için "-" ve kalan bulma (mod) için "%" sembolleri kullanılır. "++" işaretine increment, "--" işaretine de decremnet operatörü denir. "++" değeri 1 artırırken "--" ise 1 azaltır. Bu konuyla ilgili en çok dikkat edilmesi gereken mevzu işlem önceliğidir. İşlem önceliği matematikte öğrendiğimizle aynıdır ve elle belirtmek istediğimizde "()" kullanırız.<br>
    <br>
    <pre>
  int islem = ((5 + 3) * 2) % 4 
</pre><br>
    kodu islem değişkeninin sıfıra eşitler.
  </body>
</html>

Yazılma Tarihi: 2014-07-22 21:23:00
{% endblock %}