{% extends 'entrysystem/entrywrapper.html' %}
{% load staticfiles %}
{% block entryblock %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title></title>
  </head>
  <body>
    &nbsp;&nbsp;&nbsp; Yazılarıma yakın zamanda uğraşmaya başladığım C programlama diliyle başlamaya karar verdim. Öncelikle bu kararım hakkında biraz konuşmak istiyorum.<br>
    <br>
    &nbsp;&nbsp;&nbsp; Özellikle yazın bu sıcak ve sıkıcı günlerinde vaktimin çoğunu Quora isimli soru-cevap konseptli internet sitesinde geçiriyorum. Hem orada hem de diğer bazı forum ve bloglarda karşılaştığım önemli bir soru var: Bir elektronik mühendisi hangi programlama dillerini öğrenmeli?<br>
    <br>
    &nbsp;&nbsp;&nbsp; Bir çok tecrübeli mühendisin cevapları beni C dilinin mutlaka bilinmesi gerektiği konusunda ikna etti. Okuduğum üniversitede Java dilini öğrenip C öğrenmediğimiz için de kolları sıvamaya karar verdim. Yabancı ve Türkçe kaynaklardan öğrendiklerimi ve öğrenmem sırasında yaşadığım zorlukları ve çözümleri bir seri şeklinde sizinle paylaşacağım. Faydalı olabilmek dileğiyle.
  </body>
</html>

Yazılma Tarihi: 2014-07-15 22:18:00
{% endblock %}