{% extends 'entrysystem/entrywrapper.html' %}
{% load staticfiles %}
{% block entryblock %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title></title>
  </head>
  <body>
    <br>
    <div align="center" style="line-height: 100%; margin-bottom: 0.21cm; margin-top: 0.42cm; page-break-after: avoid;">
      <br>
    </div>
    <div align="center" style="line-height: 100%; margin-bottom: 0.21cm; margin-top: 0.11cm; page-break-after: avoid;">
      <span style="font-family: Liberation Sans, sans-serif;"><span style="font-size: large;">Relational Operatörler</span></span>
    </div>
    <div align="center" style="line-height: 100%; margin-bottom: 0.21cm; margin-top: 0.11cm; page-break-after: avoid;">
      <br>
    </div>
    <div style="line-height: 120%; page-break-before: auto; text-indent: 1cm;">
      Relational (İlişkisel) Operatörler, değişkenlerin birbirlerine göre karşılaştırmasını yapmamızı sağlarlar. Lise matematiğinden bildiğimiz şeylerdir.
    </div>“A == B”: A ve B değişkenleri eşitse true, değilse false değeri döndürür.<br>
    “A != B”: A ve B eşit değilse true, eşitse false döndürür.<br>
    “A &lt; B”: B, A'dan büyükse true, büyük değilse false döner.<br>
    “A &gt; B”: Üstteki durumun tam tersidir.<br>
    “A &lt;= B”: B, A'dan büyük ya da A'ya eşit ise true, diğer durumda false döndürür.<br>
    “A &gt;= B”: A, B'den büyük ya da B'ye eşit ise true, yoksa false döndürür.<br>
    <br>
    <br>
    <br>
    <div style="line-height: 120%; page-break-before: auto; text-indent: 1cm;">
      Bu konuyla ilgili örnekleri if-else yapısından sonra göreceğiz.
    </div>
    <div style="line-height: 120%; page-break-before: auto; text-indent: 1cm;">
      <br>
    </div>
    <div align="center" style="line-height: 100%; margin-bottom: 0.21cm; margin-top: 0.11cm; page-break-after: avoid;">
      <span style="font-family: Liberation Sans, sans-serif;"><span style="font-size: large;">Logical Operatörler</span></span>
    </div>
    <div align="center" style="line-height: 100%; margin-bottom: 0.21cm; margin-top: 0.11cm; page-break-after: avoid;">
      <br>
    </div>
    <div style="line-height: 120%; page-break-before: auto; text-indent: 1cm;">
      Matematikteki mantık konusunda gördüğümüz işlemlerdir.
    </div>“A &amp;&amp; B”: Mantıksal AND (VE) operatörü. Hem A hem de B'nin değeri true ise true, yoksa false döndürür.<br>
    “A || B”: Mantıksal OR (VEYA) operatörü. A veya B değerlerinden biri bile true ise true, hiçbiri true değilse false döndürür.<br>
    “!(A &amp;&amp; B)”: Mantıksal NOT (DEĞİL) operatörü. Kendinden sonra gelen ifadenin değerini tersine çevirir.<br>
    <div style="line-height: 120%; page-break-before: auto; text-indent: 1cm;">
      Aynı şekilde bu operatörler de true-false döndürdükleri için if-else yapısından sonra örneklerini göreceğiz.
    </div>
    <div style="line-height: 120%; page-break-before: auto; text-indent: 1cm;">
      <br>
    </div>
    <div align="center" style="line-height: 100%; margin-bottom: 0.21cm; margin-top: 0.11cm; page-break-after: avoid;">
      <span style="font-family: Liberation Sans, sans-serif;"><span style="font-size: large;">Bitwise Operatörler</span></span>
    </div>
    <div align="center" style="line-height: 100%; margin-bottom: 0.21cm; margin-top: 0.11cm; page-break-after: avoid;">
      <br>
    </div>
    <div style="line-height: 120%; page-break-before: auto; text-indent: 1cm;">
      Bu operatörler diğerlerinden biraz farklı oldukları için üstlerinde durmakta fayda var. Bitwise operatörler değişkenin değerini binary değerine çevirip ona göre işlem yaparlar. Binary değerine çevirmeyi lisede matematikte görmüş olmalısınız. Mesela 42 sayısının binary değeri “00101010” şeklinde yazılır. Bildiğiniz gibi bilgisayarlarda 1 byte veri 8 bitten oluşur. Baştaki iki tane fazla sıfırın yazılmasının sebebi budur. İşte bitwise operatörleri bu her bir biti alıp tek tek onlar üzerinden işlem yapar.
    </div>
    <div style="line-height: 120%; text-indent: 1cm;">
      “A &amp; B”: Bitwise AND (VE) operatörü. Bu iki değişkenin bit değerleri sırasıyla tek tek karşılaştırılır. Eğer bit değerlerinin ikisi de 1 ise yeni değerin o biti de 1 olur. Aksi halde 0 olur.
    </div>
    <div style="line-height: 120%; text-indent: 1cm;">
      “A | B”: Bitwise OR (VEYA) operatörü. Aynı şekilde bitler tek tek karşılaştırılır. Bit değerlerinden herhangi birinin 1 olması sonucun 1 olması için yeterlidir. İkisi de 0 ise sonuç bit 0 olur.
    </div>
    <div style="line-height: 120%; text-indent: 1cm;">
      “A ^ B”: Bitwise XOR (ANCAK VE ANCAK) operatörü. Bitlerden birinin 0 birinin 1 olması durumunda 1 döner, ikisi de 1 ya da ikisi de 0 ise 0 döner.
    </div>
    <div style="line-height: 120%; text-indent: 1cm;">
      “~A”: Bu operatör DEĞİL operatörüne benzer. Bütün bitleri 1 ise 0'a, 0 ise 1'e çevirir.
    </div>
    <div style="line-height: 120%; text-indent: 1cm;">
      “A &lt;&lt; B”: Bu operatör A'nın bit değerini B basamak kadar sola kaydırır.
    </div>
    <div style="line-height: 120%; text-indent: 1cm;">
      “A &gt;&gt; B”: Bu operatör A'nın bit değerini B basamak kadar sağa kaydırır.
    </div>
    <div style="line-height: 120%; text-indent: 1cm;">
      <br>
      <br>
    </div>
    <div style="line-height: 120%; text-indent: 1cm;">
      Aşağıdaki tablo bitwise işlemlerinin nasıl yapıldığını daha iyi anlamamıza yardımcı olacaktır. Örneğin 26 &amp; 45 değerini ele alalım.
    </div>
    <div style="line-height: 120%; text-indent: 1cm;"></div>
    <table cellpadding="4" cellspacing="0" style="width: 295px;">
      <colgroup>
        <col width="21">
        <col width="22">
        <col width="22">
        <col width="22">
        <col width="22">
        <col width="22">
        <col width="22">
        <col width="22">
        <col width="22">
        <col width="17">
      </colgroup>
      <tbody>
        <tr valign="top">
          <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; border-top: 1px solid #000000; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm; padding-top: 0.1cm;" width="21">
            26
          </td>
          <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; border-top: 1px solid #000000; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm; padding-top: 0.1cm;" width="22">
            -&gt;
          </td>
          <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; border-top: 1px solid #000000; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm; padding-top: 0.1cm;" width="22">
            0
          </td>
          <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; border-top: 1px solid #000000; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm; padding-top: 0.1cm;" width="22">
            0
          </td>
          <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; border-top: 1px solid #000000; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm; padding-top: 0.1cm;" width="22">
            0
          </td>
          <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; border-top: 1px solid #000000; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm; padding-top: 0.1cm;" width="22">
            0
          </td>
          <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; border-top: 1px solid #000000; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm; padding-top: 0.1cm;" width="22">
            1
          </td>
          <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; border-top: 1px solid #000000; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm; padding-top: 0.1cm;" width="22">
            0
          </td>
          <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; border-top: 1px solid #000000; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm; padding-top: 0.1cm;" width="22">
            1
          </td>
          <td style="border: 1px solid #000000; padding: 0.1cm;" width="17">
            <div style="margin-right: 0.4cm;">
              0
            </div>
          </td>
        </tr>
        <tr valign="top">
          <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; border-top: none; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm; padding-top: 0cm;" width="21">
            <br>
            <br>
          </td>
          <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; border-top: none; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm; padding-top: 0cm;" width="22">
            <br>
            <br>
          </td>
          <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; border-top: none; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm; padding-top: 0cm;" width="22">
            &amp;
          </td>
          <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; border-top: none; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm; padding-top: 0cm;" width="22">
            &amp;
          </td>
          <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; border-top: none; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm; padding-top: 0cm;" width="22">
            &amp;
          </td>
          <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; border-top: none; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm; padding-top: 0cm;" width="22">
            &amp;
          </td>
          <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; border-top: none; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm; padding-top: 0cm;" width="22">
            &amp;
          </td>
          <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; border-top: none; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm; padding-top: 0cm;" width="22">
            &amp;
          </td>
          <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; border-top: none; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm; padding-top: 0cm;" width="22">
            &amp;
          </td>
          <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; border-top: none; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0.1cm; padding-top: 0cm;" width="17">
            &amp;
          </td>
        </tr>
        <tr valign="top">
          <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; border-top: none; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm; padding-top: 0cm;" width="21">
            45
          </td>
          <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; border-top: none; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm; padding-top: 0cm;" width="22">
            -&gt;
          </td>
          <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; border-top: none; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm; padding-top: 0cm;" width="22">
            0
          </td>
          <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; border-top: none; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm; padding-top: 0cm;" width="22">
            0
          </td>
          <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; border-top: none; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm; padding-top: 0cm;" width="22">
            1
          </td>
          <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; border-top: none; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm; padding-top: 0cm;" width="22">
            0
          </td>
          <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; border-top: none; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm; padding-top: 0cm;" width="22">
            1
          </td>
          <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; border-top: none; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm; padding-top: 0cm;" width="22">
            1
          </td>
          <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; border-top: none; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm; padding-top: 0cm;" width="22">
            0
          </td>
          <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; border-top: none; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0.1cm; padding-top: 0cm;" width="17">
            1
          </td>
        </tr>
        <tr valign="top">
          <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; border-top: none; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm; padding-top: 0cm;" width="21">
            8
          </td>
          <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; border-top: none; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm; padding-top: 0cm;" width="22">
            &lt;-
          </td>
          <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; border-top: none; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm; padding-top: 0cm;" width="22">
            0
          </td>
          <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; border-top: none; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm; padding-top: 0cm;" width="22">
            0
          </td>
          <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; border-top: none; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm; padding-top: 0cm;" width="22">
            0
          </td>
          <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; border-top: none; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm; padding-top: 0cm;" width="22">
            0
          </td>
          <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; border-top: none; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm; padding-top: 0cm;" width="22">
            1
          </td>
          <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; border-top: none; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm; padding-top: 0cm;" width="22">
            0
          </td>
          <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; border-top: none; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm; padding-top: 0cm;" width="22">
            0
          </td>
          <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; border-top: none; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0.1cm; padding-top: 0cm;" width="17">
            0
          </td>
        </tr>
      </tbody>
    </table>
    <div style="line-height: 120%; page-break-before: auto; text-indent: 1cm;">
      <br>
      <br>
    </div>
    <div style="line-height: 120%; text-indent: 1cm;">
      Gördüğünüz gibi işlem sonucu çıktımız 8 oldu.
    </div>
    <div style="line-height: 120%; text-indent: 1cm;">
      <br>
      <br>
    </div>
    <div align="center" style="line-height: 100%; margin-bottom: 0.21cm; margin-top: 0.11cm; page-break-after: avoid;">
      <span style="font-family: Liberation Sans, sans-serif;"><span style="font-size: large;">Assignment Operatörleri</span></span>
    </div>
    <div align="center" style="line-height: 100%; margin-bottom: 0.21cm; margin-top: 0.11cm; page-break-after: avoid;">
      <br>
    </div>&nbsp;&nbsp;&nbsp; Bu operatörler sadece değişkeni işleme sokmakla kalmaz, aynı zamanda sonucu o değişkene eşitler.<br>
    &nbsp;&nbsp;&nbsp; "A += B", "A -=B", "A *= B", "A /= B" ve "A %= B": Bu operatörlerin hepsinin mantığı aynıdır. Eşittirin solundaki sembol yapılacak işlemi gösterir. Aslında bu operatörler kısaltmadırlar ve sırasıyla şu şekilde gösterilebilirler:<br>
    &nbsp;&nbsp;&nbsp; A = A + B, A = A - B, A = A * B, A = A / B, A = A % B<br>
    <br>
    &nbsp;&nbsp;&nbsp; Bunların dışında&nbsp; şu operatörler de vardır ve mantık yine aynıdır.<br>
    &nbsp;&nbsp;&nbsp; A &lt;&lt;= B -&gt; A = A &lt;&lt; B<br>
    &nbsp;&nbsp;&nbsp; A &gt;&gt;= B -&gt; A = A &gt;&gt; B<br>
    &nbsp;&nbsp;&nbsp; A &amp;= B -&gt; A = A &amp; B<br>
    &nbsp;&nbsp;&nbsp; A |= B -&gt; A = A | B<br>
    &nbsp;&nbsp;&nbsp; A ^= B -&gt; A = A ^ B<br>
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span style="font-size: large;">Diğer Operatörler</span><br>
    <br>
    &nbsp;&nbsp;&nbsp; <span style="font-size: small;">"&amp;": &amp; operatörü değişken isminin başına konulduğunda değişkenin adresini döndürür. "&amp;A" gibi.</span><br>
    <br>
    <span style="font-size: small;">&nbsp; &nbsp; "*": * Operatörü değişken isminin başına konulursa değişkenin pointer'ını gösterir. Pointer ne demek sonra öğreneceğiz. "*A" gibi.</span><br>
    <br>
    <span style="font-size: small;">&nbsp; &nbsp; "?": ? operatörüne conditional expression denir. if-else yapısından sonra bunun kullanımını da göreceğiz.</span>
  </body>
</html>

Yazılma Tarihi: 2014-07-24 16:18:00
{% endblock %}