{% extends 'entrysystem/entrywrapper.html' %}
{% load staticfiles %}
{% block entryblock %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title></title>
  </head>
  <body>
    <br>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      Döngüler bir işi belli kurala göre tekrar tekrar yazmaya gerek olmadan yapmamızı sağlarlar. C'deki döngüler de diğer dillerdeki döngülerden farklı değildir. O yüzden fazla oyalanmadan su konuyu geçelim.
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <br>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <b>While</b>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <br>
    </div>
    <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
      while döngüsü, içerisindeki kodu, kendisine verilen şart sağlandığı sürece işletmeye devam eder. Şu şekilde kurulur.
    </div>
    <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
      <br>
    </div>
    <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
      <pre>
while (şart) {<br>    işletilecek kod;<br>} 
</pre><br>
      Bu kod kabaca şart doğruyken içerideki kodu işlet anlamına gelir. Bir örnek inceleyelim:<br>
      <br>
      <pre>
int a = 10 ; <br>while( a &lt; 20 ) <br>{ <br>    printf("value of a: %dn", a); <br>    a++; <br>}<br>
</pre>
    </div>
    <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;"></div>
    <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
      <br>
    </div>
    <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
      Döngüyü irdeleyelim. İlk başta a değerimiz 10 olduğu için şartımız sağlandı ve döngüye girdik. Sonra a değerini ekrana bastırdık ve ardından a değerini bir arttırdık. Şimdi tekrar başa döndük ve a değerini kontrol ettik. Hala 20'den küçük olduğu için şart yine sağlandı ve tekrar ekrana basıp bir arttırdık. Bu işlem a 20 oluncaya dek tekrarlanır ve 20 olduğunda döngüden çıkıp programımız devam eder.
    </div>
    <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
      <br>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <b>For</b>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <br>
    </div>
    <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
      for döngüsü while döngüsünün özelleştirilmiş bir halidir. İşleri bizim için son derece kolaylaştırır. For döngüsüne iteration (irdeleme) döngüsü de denir. Çünkü verilen değeri, verilen şart sağlananmayana dek irdeler. Şu şekilde kurulur:
    </div>
    <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
      <br>
    </div>
    <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
      <pre>
for (girdi; şart; arttırma/azaltma) {<br>    işletilecek kod;<br>}
</pre><br>
      <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
        for döngüsünün ilk kısmında bir değişken ve değerini yükleriz. İkinci kısımda bu değeri istenen şarta göre kontrol ederiz. Eğer şart sağlanıyorsa değeri son kısımda yazdığımız işleme sokarız ve içerdeki kodu işletiriz. Tekrar geri döndüğümüzde bu sefer değeri tekrar eşitlemez, direk şarta bakarız ve bu şekilde devam ederiz. Bu sayede for döngüleri, döngünün kaç kere döneceğini kontrol etmemize izin verdiğinden son derece kullanışlıdır. Şu örneği inceleyelim:
      </div>
      <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
        <br>
      </div>
      <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
        <pre>
for( int a = 10 ; a &lt; 20 ; a = a + 1 ) <br>{ <br>    printf("value of a: %dn", a); <br>}<br>
</pre><br>
        <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
          Bu döngüde a isimli bir değişken oluşturup 10'a eşitledik ve her seferinde değerini 1 arttırıp 20'den küçük olup olmadığını kontrol ettik. Küçük olduğu sürece de a değerini yazdırdık.
        </div>
        <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
          <br>
        </div>
        <div style="line-height: 100%; margin-bottom: 0cm;">
          <b>Do ... while</b>
        </div>
        <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
          <br>
        </div>
        <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
          do...while döngüsü tıpkı while gibidir. Farkı, ilk başta şartı kontrol etmek yerine kodu bir kez işletir ve ondan sonra kontrol eder, eğer şart sağlanır ise de döngüye devam eder. Şu şekilde kurulur:
        </div>
        <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
          <br>
        </div>
        <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
          <pre>
do {<br>    işletilecek kod<br>} while(şart);
</pre><br>
          <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
            Bu döngülerle ilgili söylenecek bir kaç mevzu daha var. Öncelikle tıpkı if-else yapısında olduğu gibi döngüler de iç içe yazılabilir (nested) ya da if-else yapısıyla birlikte ve iç içe kullanılabilir. Burada dikkat edilmesi gereken mevzu, aşırıya kaçıp kodu okunamayacak derecede karışık hale getirmemek ve sık sık comment yazarak kodu okuyan kişiye yardımcı olmaktır. Bir diğer önemli mevzu da sonsuz döngülerdir. Eğer şartımız her türlü durumda sağlanıyorsa, yani şartımızı yanlışlayan bir durum yoksa, döngü sonsuza kadar devam eder. Genellikle bu durumu istemeyiz. Bu yüzden şartımızı yazarken döngümüzün sonlanacağından emin olmak, vakit kazanmanız açısından önemlidir. Şu örneğe bakın:
          </div>
          <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
            <br>
          </div>
          <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
            <pre>
while(1) {<br>    printf(“Hey”);<br>}
</pre><br>
            <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
              1 değeri her zaman doğru olduğu için, siz zorla kapatmadığınız sürece program sonsuza kadar ekrana “Hey” yazacaktır.
            </div>
            <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
              <br>
            </div>
            <div style="line-height: 100%; margin-bottom: 0cm;">
              <b>Break</b>
            </div>
            <div style="line-height: 100%; margin-bottom: 0cm;">
              <br>
            </div>
            <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
              Bu tabiri zaten switch'de görmüştük. Fakat break kelimesi switch haricinde döngüleri bitirmek için de kullanılır. Tıpkı switch'teki gibi döngünün içinde break ile karşılaşıldığında, döngü içinde geri kalan işletilmemiş kodlar yok sayılır ve döngüden çıkılır. Örnek:
            </div>
            <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
              <br>
            </div>
            <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
              <pre>
int a = 10;<br>while (a &lt; 20) {<br>    a++;<br>    if (a == 15) {<br>        break;<br>    }<br>    printf(“Döngü devam ediyor.”);<br>}
</pre><br>
              <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
                Yukarıdaki kodda a 15 olduğu zaman, ekrana “Döngü devam ediyor.” yazmadan döngü sonlanacaktır.
              </div>
              <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
                <br>
              </div>
              <div style="line-height: 100%; margin-bottom: 0cm;">
                <b>Continue</b>
              </div>
              <div style="line-height: 100%; margin-bottom: 0cm;">
                <br>
              </div>
              <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
                continue'nin işleme mantığı break ile benzerdir. Fakat continue döngüyü bitirmek yerine, o basamakta geriye kalan kodları atlayıp döngünün devam etmesine sebep olur. Şu örneğe bakalım:
              </div>
              <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
                <br>
              </div>
              <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
                <pre>
int a = 1;<br>while (a &lt; 50) {<br>    a++;<br>    if(a % 2 == 1) {<br>        continue;<br>    }<br>    printf(“%d bir çift sayıdır.n”, a);<br>}
</pre><br>
                <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
                  Yukarıdaki işletildiğinde, a'nın 2'ye bölümünden kalan 1 olduğunda yani sayı tek olduğunda if bloğundaki continue işleyecek, yani printf es geçilecektir. Böylece 1'den 50' ye kadar olan sadece çift sayılar ekrana basılacaktır.
                </div>
                <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
                  <br>
                </div>
                <div style="line-height: 100%; margin-bottom: 0cm;">
                  <b>Goto</b>
                </div>
                <div style="line-height: 100%; margin-bottom: 0cm;">
                  <br>
                </div>
                <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
                  Geldik çok tartışmalı olan bir duruma. İnternette programcıların forumlarında ya da Quora ve Stackoverflow gibi sitelerde goto tartışmasını her zaman görebilirsiniz. Çoğu programcı goto kullanılmaması gerektiğini savunurken bazıları ise doğru kullanıldığında son derece işe yarar olduğunu düşünürler. Okuduğum tartışmalar beni goto'nun önemli olduğuna inandırdı. Peki neden goto sevilmez? Bunun temel sebebi olarak kodun okunurluğunu azaltaması yani spagetti koda çevirebilmesi ve bazı güvenlik açıklarına sebep olabilmesi söylenebilir. Şimdi nasıl kullanıldığını görelim:
                </div>
                <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
                  <br>
                </div>
                <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
                  <pre>
goto etiket;<br>..<br>.<br>etiket: kod;
</pre><br>
                  <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
                    Yani siz bir kod parçasına isim verebilir, sonra da istediğiniz yerden, hatta işletilecek kod parçası goto'dan sonra olsa bile, o kodu ismiyle çağırabilirsiniz. Dağınık yerlerdeki kodları tekrar çağırmaya izin verdiği için goto günah keçisi olmuştur.
                  </div>
                  <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
                    Peki nerede kullanılmalı bu goto. Örnek olarak, C dilinde gelişmiş bir hata yakalama olmadığından, hata mesajlarına isim verip hata yakaladığınızda goto ile mesajı çağırmak, goto'nun zararsız bir uygulaması olarak söylenebilir.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

Yazılma Tarihi: 2014-07-29 12:27:00
{% endblock %}