{% extends 'entrysystem/entrywrapper.html' %}
{% load staticfiles %}
{% block entryblock %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title></title>
  </head>
  <body>
    Welcome to WordPress. This is your first post. Edit or delete it, then start blogging!
  </body>
</html>

Yazılma Tarihi: 2015-01-22 20:09:06
{% endblock %}