{% extends 'entrysystem/entrywrapper.html' %}
{% load staticfiles %}
{% block entryblock %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title></title>
  </head>
  <body>
    World yani dünya sınıfı jbox2d için nesnelerin depolandığı ve simüle edildiği sınıftır. Aynı dünya içerisindeki nesneler birbiriyle etkileşir ve bu nesnelerin oluşturulmasından dünya sorumludur.<br>
    <br>
    <pre>
import org.jbox2d.common.Vec2;<br>import org.jbox2d.dynamics.World;<br><br>private final Vec2 GRAVITY = new Vec2(0.0f, -9.8f);<br>public static World world = new World(GRAVITY);<br>
</pre><br>
    Dünya oluştururken gördüğünüz gibi parametre olarak yer çekimini girdik. Vektörler fizikte bir çok kolaylık sağladığı için jbox hız, ivme, güç, moment gibi vektörel büyüklükleri kendi tanımladığı Vec2 türünden alır. Ben yer çekimini negatif y ekseninde aldım. Aslında bu hayati bir şey değil ancak fizik dersinizden hatırlayın, genellikle referans noktasına göre yukarı yön (+ y) alınır. Siz ister pozitif ister negatif yapın, bundan sonraki tüm koordinat sisteminizi aynı tutmak zorundasınız aksi halde tutarsız hareketlerle karşılaşırsınız.<br>
    <br>
    Burada world ile ilgili ileride işinize yarayacak iki önemli metodu da anlatalım.<br>
    <br>
    <pre>
World.createBody(BodyDef)<br>World.destroyBody(Body);<br>
</pre><br>
    createBody metodu, adı üzerinde parametre olarak aldığı ileride anlatacağım BodyDef, yani nesne tanımını alır ve o dünyada bu nesneyi oluşturur. destroyBody ise Body sınıfını alır ve verilen body, yani nesneyi o dünyadan yok eder.
  </body>
</html>

Yazılma Tarihi: 2014-09-06 20:16:00
{% endblock %}