{% load staticfiles %} {% load analytical %}
<!DOCTYPE html>
<html lang="tr">
<head>
{% load google_analytics %}
<link href='http://www.elektrodefter.com/' hreflang='tr' rel='alternate' />
<meta name="google-site-verification"
	content="LRxeLOJ92rnYAEPEHkpPxLZMLttRoMGqK0nxZjG5iaM" />
<meta charset="utf-8">
<title>Elektrodefter</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Elektronikçinin Not Defteri">
<meta name="author" content="Bilal Taşdelen">

<!-- Le styles -->
<link href="{% static "/static/css/bootstrap.css" %}" rel="stylesheet">
<link href="{% static "/static/css/style.css" %}" rel="stylesheet">


<!-- Le fav and touch icons-->
<link rel="shortcut icon" href="{% static "/static/media/uploads/favicon.ico"%}">
<a class="margin"></a> {% google_analytics %}
</head>

<body>
	{% load google_analytics %}
	<div class="navbar navbar-fixed-top">
		<div id="grad" class="navbar-inner shady">
			<div class="container">
				<a href="/"><img src="{% static "/static/media/uploads/logo.png" %}" /></a>
				<form action='/results/' method="post" class="searchinput">
					{% csrf_token %} {{ form }} <input type="submit" value="Ara"
						class="searchbutton" />
				</form>
			</div>
		</div>
	</div>
	<div class="container">


		{% block base_content %} {% endblock %} <a class="margin"></a>

		<hr>

		<footer>
			<span style="float: left"> Contact me: <a
				href="mailto: bilaltasdelen@windowslive.com">
					bilaltasdelen@windowslive.com</a></span> <span style="float: right">
				Bilal Taşdelen &nbsp; &copy; Elektrodefter 2015 </span>
			<div style="clear: both;"></div>
			<br>
			<br>
			<br>
			<br>
			<br>
		</footer>

	</div>
	<!-- /container -->
	{% block extrafooter %}{% endblock %} {% google_analytics %}
</body>
</html>